#form {
display: grid;
place-items: center;
text-align: center;
padding-top: 15vh;
}


.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
      width: 50vw;
}

.search-input {
    width: 40vw;
}


.MuiOutlinedInput-notchedOutline {
    border-radius: 50px!important;
}

.btn-search {
    /* left: 16vw; */
    /* position: absolute; */
    margin-left: 3rem;
    width: 7vw;
    height: 6vh;
    /* display: flex; */
    /* top: -9.3vh; */
    border-radius: 50px!important;
    background-color: #1888d5!important;
}

.MuiOutlinedInput-notchedOutline {
    border-color: #1888d5!important;
}

.MuiFormLabel-root.Mui-focused {
    color: #1888d5!important;
}